# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

bin

# Ignore Java
jdk
jre

# Ignore Eclipse
.settings

.project

.classpath
.lock
/.cfx-log.log
/.cmd-log.log
/.cxf-log.log
/.cxf-test-log.log
/jvix/src/main/resources/x64
/PowerShell/Sapi/obj
/PowerShell/Sapi/packages
/nssm/.vs
/nssm/messages.h
/nssm/messages.rc
/nssm/MSG0040C.bin
/nssm/MSG00409.bin
/nssm/MSG00410.bin
/nssm/version.h
/nssm/out
/nssm/tmp
/native-libraries/vmware-tools
build.gradle
gradle.properties
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-6.5.2-6195444.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-6.5.3-8315684.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-6.7.0-8173251.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-6.7.0-8535999.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-6.7.1-10362358.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-6.7.2-13015725.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-6.7.3-14389676.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-7.0.0-15832853.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-7.0.1-16860560.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-7.0.2-17696664.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-7.0.3-18705163.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-7.0.3-19513565.x86_64.zip
native-libraries/jdisk/windows/vddk/VMware-vix-disklib-6.5.4-13861102.x86_64.zip
